<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lodz.android.agiledev">

    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- ********************* 需要申请（只要同组有一个授权整组的权限都可以使用） ********************* -->
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--允许读取手机信息权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 通过GPS芯片接收卫星的定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过WiFi或移动基站的方式定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lodz.android.agiledev.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="error_tag"
            android:value="resultValue" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="主页面"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.premissions.PremissionsActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.premissions.DeviceActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.other.TestActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.other.Test2Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.rv.refresh.RefreshTestActivity"
            android:label="刷新/加载更多测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.rv.drag.DragRecyclerViewActivity"
            android:label="视频录制测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.reflect.ReflectActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.rv.head.HeadRecyclerViewActivity"
            android:label="RV头/底部测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.image.GlideActivity"
            android:label="Glide测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.fragmentactivity.LoginActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.tab.TabActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.fragmentlife.FragmentLifeTestActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.dialog.DialogTestActivity"
            android:label="弹框测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.dialogfragment.DialogFragmentTestActivity"
            android:label="DialogFragment测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.config.ConfigLayoutActivity"
            android:label="基础控件配置测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvp.MvpDemoActivity"
            android:label="MVP模式测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvp.abs.activity.MvpTestAbsActivity"
            android:label="基础Activity测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvp.base.activity.MvpTestBaseActivity"
            android:label="带基础状态控件Activity测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvp.refresh.activity.MvpTestRefreshActivity"
            android:label="带基础状态控件和下来刷新控件Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvp.sandwich.activity.MvpTestSandwichActivity"
            android:label="MVP带基础状态控件、中部刷新控件和顶部/底部扩展Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvp.MvpFragmentActivity"
            android:label="Fragment用例"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.rv.swipe.SwipeRecyclerViewActivity"
            android:label="RV侧滑菜单测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.media.RecordActivity"
            android:label="视频录制测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.rv.anim.AnimRecyclerViewActivity"
            android:label="RV动画测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.crash.CrashTestActivity"
            android:label="崩溃测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.photopicker.PhotoPickerTestActivity"
            android:label="照片选择器测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.location.LocationActivity"
            android:label="定位测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.notification.NotificationActivity"
            android:label="通知测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.retrofit.RetrofitTestActivity"
            android:label="Retrofit测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.rv.decoration.ItemDecorationTestActivity"
            android:label="RV装饰器测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.threadpool.ThreadPoolActivity"
            android:label="线程池测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.rxjava.RxTestActivity"
            android:label="Rxjava测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.design.coordinator.CoordinatorTestActivity"
            android:label="CoordinatorLayout测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.design.coordinator.CoordinatorTranslationActivity"
            android:label="CoordinatorLayout位移测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.annotation.AnnotationTestActivity"
            android:label="注解测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.webview.WebViewTestActivity"
            android:label="WebView测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.download.DownloadTestActivity"
            android:label="下载测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.download.market.DownloadMarketActivity"
            android:label="应用市场下载类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.download.manager.DownloadManagerActivity"
            android:label="下载管理"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvc.MvcDemoActivity"
            android:label="MVC模式测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvc.abs.MvcTestAbsActivity"
            android:label="基础Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvc.base.MvcTestBaseActivity"
            android:label="带基础状态控件Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvc.refresh.MvcTestRefreshActivity"
            android:label="带基础状态控件和下来刷新控件Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvc.sandwich.MvcTestSandwichActivity"
            android:label="MVC带基础状态控件、中部刷新控件和顶部/底部扩展Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.mvc.MvcFragmentActivity"
            android:label="fragment生命周期测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.idcard.IdcardTestActivity"
            android:label="身份证号码测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.design.bottomsheet.BottomSheetsTestActivity"
            android:label="BottomSheets测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.design.cardview.CardViewTestActivity"
            android:label="CardView测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.share.ShareAnimationActivity"
            android:label="共享动画"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transitions">

        </activity>

        <activity
            android:name=".ui.share.element.ElementActivity"
            android:label="共享元素"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transitions">

        </activity>

        <activity
            android:name=".ui.index.IndexBarTestActivity"
            android:label="索引栏测试类"
            android:screenOrientation="portrait">

        </activity>


    </application>

</manifest>